<md-content class="md-padding">
<H1>Here is payment info</H1>
<p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra
	quam, at semper massa orci nec magna. Donec posuere nec sapien sed
	laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor
	tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel.
	Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit
	amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi
	vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus
	sapien sit amet, tempus sapien.</p>
</md-content> 
