<div layout-fill>
  <md-contentclass="md-padding">
	<form name="tournamentForm" ng-submit="save()" novalidate>
    <md-tabs md-dynamic-height md-border-bottom class="md-primary" style="border: 0px solid green">
      <md-tab label="General">
			<div layout="column" layout-align="start start">
			<md-whiteframe class="md-whiteframe-5dp" layout-padding layout-margin>	
				<md-content layout="column" layout-gt-sm="row"> 
				<md-input-container
					md-is-error="tournamentForm.name.$invalid && !tournamentForm.name.$pristine">
				<label>Name</label> <input name="name"
					ng-model="tournament.name" required size="50" maxlength="50" />
				<div ng-messages="tournamentForm.name.$error"
					ng-show="tournamentForm.name.$dirty">
					<div ng-message="required">Name is required.</div>
				</div>
				</md-input-container> 
				
				<md-input-container
					md-is-error="tournamentForm.starLevel.$invalid && !tournamentForm.starLevel.$pristine">
				<label>Star Level</label> <input name="starLevel"
					ng-model="tournament.starLevel" required size="2" maxlength="2" />
				<div ng-messages="tournamentForm.starLevel.$error"
					ng-show="tournamentForm.starLevel.$dirty">
					<div ng-message="required">Star Level is required.</div>
				</div>
				</md-input-container>
					<md-input-container 
					md-is-error="tournamentForm.startDateText.$invalid && !tournamentForm.startDateText.$pristine"> 
						<mdc-date-picker model="startDateText" label="Start date">
						</mdc-date-picker> 
						<div ng-messages="tournamentForm.startDateText.$error"
							ng-show="tournamentForm.startDateText.$dirty">
							<div ng-message="required">Start date is required.</div>
						</div>
					</md-input-container> 
			
					<md-input-container 
					md-is-error="tournamentForm.endDateText.$invalid && !tournamentForm.endDateText.$pristine"> 
						<mdc-date-picker model="endDateText" label="End date">
						</mdc-date-picker> 
						<div ng-messages="tournamentForm.endDateText.$error"
							ng-show="tournamentForm.endDateText.$dirty">
							<div ng-message="required">End date is required.</div>
						</div>
					</md-input-container> 
				</md-content>
				</md-whiteframe>
				<md-whiteframe class="md-whiteframe-5dp" layout-padding layout-margin>
					<md-content layout="column" layout-gt-sm="row" layout-wrap> 
					<md-input-container flex="auto"
						md-is-error="tournamentForm.venue.$invalid && !tournamentForm.venue.$pristine">
					<label>Venue Name</label> <input name="venue"
						ng-model="tournament.venue" required size="50" maxlength="50" />
					<div ng-messages="tournamentForm.venue.$error"
						ng-show="tournamentForm.venue.$dirty">
						<div ng-message="required">Venue Name is required.</div>
					</div>
					</md-input-container>
					<md-input-container flex="auto"
						md-is-error="tournamentForm.address.$invalid && !tournamentForm.address.$pristine">
					<label>Address</label> <input name="address"
						ng-model="tournament.address" required size="35" maxlength="40" />
					<div ng-messages="tournamentForm.address.$error"
						ng-show="tournamentForm.address.$dirty">
						<div ng-message="required">Address is required.</div>
					</div>
					</md-input-container>
					<md-input-container flex="auto"
						md-is-error="tournamentForm.city.$invalid && !tournamentForm.city.$pristine">
					<label>City</label> <input name="city"
						ng-model="tournament.city" required size="35" maxlength="40" />
					<div ng-messages="tournamentForm.city.$error"
						ng-show="tournamentForm.city.$dirty">
						<div ng-message="required">City is required.</div>
					</div>
					</md-input-container>
					<md-input-container flex="auto"
						md-is-error="tournamentForm.state.$invalid && !tournamentForm.state.$pristine">
					<label>State</label> 
					<md-select name="state" ng-model="tournament.state" required>
			          <md-option ng-repeat="state in statesArray" value="{{ state }}">{{ state }}</md-option>
			        </md-select>
					<div ng-messages="tournamentForm.state.$error"
						ng-show="tournamentForm.state.$dirty">
						<div ng-message="required">State is required.</div>
					</div>
					</md-input-container>
					
					</md-content> 
  				</md-whiteframe> 
				<md-content layout="row" layout-align="center center" layout-padding layout-margin>
					<md-button class="md-raised" ui-sref="home">Cancel</md-button>
					<span>&nbsp;&nbsp;</span>
					<md-button type="submit" class="md-raised md-primary" ng-click="saveTournament($event)"
						ng-disabled="tournamentForm.$invalid">Save</md-button>
				</md-content>
				<pre>{{tournamentForm | json}}</pre>
			</div>
      </md-tab>
      <md-tab label="Events">
      <div layout="row" layout-fill>
  		<md-whiteframe class="md-whiteframe-3dp" flex="25" layout-margin>
			<md-content layout="row" layout-align="end center" layout-padding>
				<md-button type="submit" class="md-raised md-primary" ng-click="addEvent($event)">Add Event</md-button>
			</md-content>
			<div ng-show="eventInfoList.length == 0">
			No events are configured for this tournament.  Press Add to add event.
			</div>
	        <md-content>
			<md-list> 
			<md-list-item class="md-3-line"
				ng-repeat="event in eventInfoList"
				ng-click="editEvent(event, $event)">
			<div class="md-list-item-text">
				<h3>{{event.name}}</h3>
				<h4>{{event.eventDateTime}}</h4>
				<h4>Players / Free Spots: {{event.players }} /
					{{event.maxPlayers - event.players}}</h4>
			</div>
			<md-icon md-svg-icon="delete" ng-click="deleteEvent(event, $event)"
			class="md-secondary md-hue-3" 
			aria-label="Delete" >
			<md-tooltip>Delete event</md-tooltip>
			</md-icon>
<!--  			<md-button ng-click="deleteEvent(event, $event)" aria-label="Delete" class="md-icon-button" style="border: 1px solid brown">
 			<ng-md-icon icon="delete" ></ng-md-icon>
 			</md-button>
			<md-tooltip>Delete event</md-tooltip>
 -->	         <md-divider></md-divider>
	        </md-list-item>
	        </md-list>
	        </md-content>
		</md-whiteframe>
  		<md-whiteframe class="md-whiteframe-3dp" flex layout-margin layout-padding>
	        <H3>Event Details</H3>
	      	<div ng-if="editedEvent != null">
			<div layout="column" layout-align="start start" layout-align-md="start center" layout-fill>
				
				<md-content layout="column" layout-gt-sm="row"> 
				<md-input-container 
					md-is-error="tournamentForm.ordinalNumber.$invalid && !tournamentForm.ordinalNumber.$pristine">
				<label>Number</label> <input name="ordinalNumber"
					ng-model="editedEvent.ordinalNumber" required size="3" maxlength="3" />
				<div ng-messages="tournamentForm.ordinalNumber.$error"
					ng-show="tournamentForm.ordinalNumber.$dirty">
					<div ng-message="required">Ordinal is required.</div>
				</div>
				</md-input-container>
				<md-input-container 
					md-is-error="tournamentForm.eventname.$invalid && !tournamentForm.eventname.$pristine">
				<label>Name</label> <input name="eventname"
					ng-model="editedEvent.name" required size="35" maxlength="40" />
				<div ng-messages="tournamentForm.eventname.$error"
					ng-show="tournamentForm.eventname.$dirty">
					<div ng-message="required">Name is required.</div>
				</div>
				</md-input-container> 
				
				</md-content>
				
				<div layout="column" layout-gt-sm="row"> 
			      <md-input-container 
			      md-is-error="tournamentForm.eventDate.$invalid && !tournamentForm.eventDate.$pristine">
			        <label>Start Date</label>
			        <md-select name="eventDate" ng-model="editedEvent.eventDate" required  style="width:250px">
			          <md-option ng-repeat="eventDate in eventDatesArray" value="{{ eventDate.day }}">{{ eventDate.dayText }}</md-option>
			        </md-select>
					<div ng-messages="tournamentForm.eventDate.$error"
						ng-show="tournamentForm.eventDate.$dirty">
						<div ng-message="required">Event start date is required.</div>
					</div>
			      </md-input-container>

			      <md-input-container  
			      md-is-error="tournamentForm.eventTime.$invalid && !tournamentForm.eventTime.$pristine">
			        <label>Start Time</label>
			        <md-select name="eventTime" ng-model="editedEvent.eventTime" required>
			          <md-option ng-repeat="eventTime in eventTimesArray" value="{{ eventTime.fractionalHour }}">{{ eventTime.timeText }}</md-option>
			        </md-select>
					<div ng-messages="tournamentForm.eventTime.$error"
						ng-show="tournamentForm.eventTime.$dirty">
						<div ng-message="required">Event start time is required.</div>
					</div>
			      </md-input-container>
				</div>
				
				<div layout="column" layout-gt-sm="row"> 
				<md-input-container
					md-is-error="tournamentForm.singleElimnation.$invalid && !tournamentForm.singleElimnation.$pristine">
				<md-radio-group ng-model="editedEvent.singleElimination">
 				<span class="md-caption">Format</span>
				<div layout="column" layout-gt-sm="row">
					<md-radio-button ng-value="false" class="md-primary">Round Robin</md-radio-button> 
					<md-radio-button ng-value="true" class="md-primary">Single Elimination</md-radio-button>
				</div>
				</md-radio-group> 
				</md-input-container>
				<md-input-container
					md-is-error="tournamentForm.doubles.$invalid && !tournamentForm.doubles.$pristine">
				<md-radio-group ng-model="editedEvent.doubles">
				<span class="md-caption">Doubles</span>
				<div layout="column" layout-gt-sm="row">
						<md-radio-button ng-value="false" class="md-primary">Singles</md-radio-button>
						<md-radio-button ng-value="true" class="md-primary">Doubles</md-radio-button>
				</div>
				</md-radio-group> 
				</md-input-container>
				</div>
				<div layout="column" layout-gt-sm="row">
				<md-input-container md-is-error="tournamentForm.maxEntries.$invalid && !tournamentForm.maxEntries.$pristine">
				<label>Maximum Entries</label> <input name="maxEntries"
					ng-model="editedEvent.maxEntries" required size="3" maxlength="3" />
				<div ng-messages="tournamentForm.maxEntries.$error"
					ng-show="tournamentForm.maxEntries.$dirty">
					<div ng-message="required">Value is required.</div>
				</div>
				</md-input-container>				 
				</div>
				
				<md-content layout="row" layout-align="center center" layout-padding>
					<md-button class="md-raised" ui-sref="home">Cancel</md-button>
					<span>&nbsp;&nbsp;</span>
					<md-button type="submit" class="md-raised md-primary" ng-click="saveEvent($event)"
						ng-disabled="tournamentForm.$invalid">Save</md-button>
				</md-content>
			</div>
	      	</div>
		</md-whiteframe>
      </div>
      </md-tab>
      <md-tab label="Contact">
        <md-content class="md-padding">
        <H1>General 3</H1>
          <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
      <md-tab label="Payment Info">
        <md-content class="md-padding">
        <H1>General 4</H1>
          <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
        </md-content>
      </md-tab>
    </md-tabs>
    </form>
  </md-content>
</div>
