<form name="contactForm" novalidate>
<div layout="column" layout-fill layout-wrap>
	<div layout-sm="column" layout-gt-md="row" layout-fill>
	<md-content flex layout="column">Red</md-content>
	<md-content flex layout="column">Brown</md-content>
	</div>
	<div layout-sm="column" layout-gt-md="row" layout-fill>
	<md-content flex style="background-color: yellow">Yellow</md-content>
	<md-content flex style="background-color: green">Green</md-content>
	</div>
</div>

	<!-- buttons  -->
	<md-content layout="row" layout-align="center center" layout-padding
		layout-margin> <md-button class="md-raised"
		ui-sref="home.tournamentManageList">Cancel</md-button> <span>&nbsp;&nbsp;</span>
	<md-button type="submit" class="md-raised md-primary"
		ng-click="saveContact($event)" ng-disabled="contactForm.$invalid">Save</md-button>
	</md-content>
	<!-- 		<pre>{{contactForm | json}}</pre> -->
</form>