<md-table-container id="events-table">
  <table md-table>
    <thead md-head md-order="query.order">
      <tr md-row>
        <th md-column order-by="ordinaNumber">#</th>
        <th md-column>Edit</th>
        <th md-column>Delete</th>
        <th md-column order-by="name">Name</th>
        <th md-column order-by="eventDateTime">Day & Time</th>
        <th md-column>Max Spots</th>
        <th md-column>Players</th>
        <th md-column>Free Spots</th>
        <th md-column> </th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="event in eventInfoList | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
        <td md-cell>{{event.ordinalNumber}}</td>
		<td md-cell>
	        <md-button class="md-icon-button" aria-label="Edit" ng-click="editEvent(event, $event)">
	          <ng-md-icon icon="create">
	          </ng-md-icon> 
	          	<md-tooltip>Edit event</md-tooltip> 
	        </md-button>
		</td>
		<td md-cell>
	        <md-button class="md-icon-button" aria-label="Delete" ng-click="deleteEvent(event, $event)">
	          <ng-md-icon icon="delete">
	          </ng-md-icon> 
	          	<md-tooltip>Delete event</md-tooltip> 
	        </md-button>
		</td>
        <td md-cell>{{event.name}}</td>
        <td md-cell>{{event.eventDateTime}}</td>
        <td md-cell>{{event.maxEntries | number}}</td>
        <td md-cell>{{event.players | number}}</td>
        <td md-cell>{{(event.maxEntries - event.players) | number}}</td>
        <td md-cell>&nbsp;&nbsp;&nbsp;</td>
      </tr>
    </tbody>
 </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{eventInfoList.length}}"></md-table-pagination>

	<md-button class="md-fab md-fab-top-right"
			aria-label="Add" ng-click="addEvent($event)"> <ng-md-icon
			icon="add"></ng-md-icon> 
	</md-button>

<!-- <div layout="row">
  <span flex="45"></span>
	<span flex="25">Total players: {{tournament.entriesCount}}</span>
  <span flex="30"></span>
</div>
 -->
 

