<md-list flex> <md-list-item
	ng-click="navigateTo('home.tournamentList')" authorized>Tournaments (public)</md-list-item><md-list-item
	ng-click="navigateTo('home.editProfile')">Profile 5</md-list-item> <md-list-item
	ng-click="logout('home')" ng-show="auth.isLoggedIn()">Logout</md-list-item>
</md-list>

<!-- 	ng-click="navigateTo('home.tournamentCreate')" authorized>Tournament Create</md-list-item><md-list-item -->
<!-- 	ng-click="navigateTo('home.campaigns')">Campaigns 3</md-list-item> <md-list-item -->
<!-- 	ng-click="navigateTo('home.dashboard')">Dashboard 4</md-list-item> <md-list-item -->
