<div layout="column" layout-fill ng-cloak>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">Events</div>
  </md-toolbar>

  <md-content>
  <md-subheader class="md-primary">Events You Entered</md-subheader>
      <md-list layout-padding>
        <md-list-item class="md-3-line" ng-repeat="entry in enteredEventsList">
				<div hide-gt-sm class="md-list-item-text">
					<h3>{{entry.eventName}}</h3>
					<h4>{{entry.entryDateTime}}</h4>
					<h4>{{entry.fee | currency }}</h4>
				</div>
				<div hide-sm class="md-list-item-text">
					<h3>{{entry.eventName}} - {{entry.entryDateTime}} - 
					{{entry.fee | currency }}</h3>
				</div>
				
	          <ng-md-icon icon="remove_circle" size="48" ng-click="withdrawFromEvent(entry, $event)">
	          	<md-tooltip>Withdraw from event</md-tooltip> 
	          </ng-md-icon>
<!--    			 <md-button class="md-icon-button" aria-label="Withdraw from Event" ng-click="withdrawFromEvent(entry, $event)">
	        </md-button>
 -->        <md-divider></md-divider>
        </md-list-item>
      </md-list>
      <md-subheader class="md-primary">Events You Can Enter</md-subheader>
      <md-list layout="column" layout-padding>
        <md-list-item class="md-3-line" ng-repeat="entry in availableEventsList">
				<div hide-gt-sm class="md-list-item-text">
					<h3>{{entry.eventName}}</h3>
					<h4>{{entry.entryDateTime}}</h4>
					<h4>{{entry.fee | currency }}</h4>
				</div>
				<div hide-sm class="md-list-item-text">
					<h3>{{entry.eventName}} - {{entry.entryDateTime}} - 
					{{entry.fee | currency }}</h3>
				</div>
	          <ng-md-icon icon="add_circle" size="48" ng-click="enterEvent(entry, $event)">
	          	<md-tooltip>Enter event</md-tooltip> 
	          </ng-md-icon> 
<!--    			 <md-button class="md-icon-button" aria-label="Enter Event" ng-click="enterEvent(entry, $event)">
	        </md-button>
 -->        <md-divider></md-divider>
        </md-list-item>
      </md-list>
      <md-subheader class="md-warn">Events You Can't Enter</md-subheader>
      <md-list layout="column" layout-padding>
        <md-list-item class="md-3-line" ng-repeat="entry in unavailableEventsList">
				<div hide-gt-sm class="md-list-item-text">
					<h3>{{entry.eventName}}</h3>
					<h4>{{entry.entryDateTime}}</h4>
					<h4>{{entry.reason}}</h4>
				</div>
				<div hide-sm class="md-list-item-text">
					<h3>{{entry.eventName}} - {{entry.entryDateTime}} - 
					{{entry.reason}}</h3>
				</div>
        <md-divider></md-divider>
        </md-list-item>
      </md-list>
  </md-content>
</div>
