<div layout="column" layout-fill ng-cloak>
<md-content>
<div ng-show="membershipExpired">Your USATT membership expired on {{ userProfile.expirationDate | date : 'MMM, dd yyyy' }} or you are a new member.  
	If you are a currently a member of a foreign table tennis association please select 'Member of foreign association'.</div>
	<div ng-show="!membershipExpired">Your USATT membership is up to date through {{ userProfile.expirationDate | date : 'MMM, dd yyyy' }}</div>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
	 <p>paragraph</p>
</md-content>
</div>
