<md-list flex> <md-list-item
	ng-click="navigateTo('home.tournamentList')" authorized>Tournaments (public)</md-list-item><md-list-item
	ng-click="navigateTo('home.tournamentManageList')" authorized>Manage Tournaments</md-list-item><md-list-item
	ng-click="navigateTo('home.editProfile')">Profile 2</md-list-item> <md-list-item
	ng-click="logout('home')" ng-show="auth.isLoggedIn()">Logout 1</md-list-item>
</md-list>
<!-- 	ng-click="navigateTo('home.campaigns')">Campaigns 2</md-list-item> <md-list-item -->
<!-- 	ng-click="navigateTo('home.dashboard')">Dashboard 2</md-list-item> <md-list-item -->
<!-- 	ng-click="navigateTo('home.searchMember')">Search USATT Member</md-list-item> <md-list-item -->
